:root {
    --black: #212121;
    --white: #ffffff;
    --primary_color: #2f303a;
    --blue: #2196f3;
    --light_blue: #188ce8;
    --grey: #757575;
    --white_button: #f5f4fa;
    --icon: #afb1b8;
    --dominant_font: "Roboto", sans-serif;
}

body {
    font-family: var(--dominant_font);
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

    .container {
        display: flex;
        align-items: center;
    }
}

nav {
    margin-left: 93px;
}

.site-header__logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.site-header__logo > span {
    color: var(--black);
}

.site-header__nav-list {
    display: flex;
    gap: 50px;
}

.site-header__nav-item {
    font-weight: 500;
    letter-spacing: 0.02em;
    position: relative;
}

.site-header__nav-item a {
    transition: color 300ms ease-in-out;
    position: relative;
    padding-bottom: 32px;
}

.site-header__nav-item a:hover,
.site-header__nav-item a:focus {
    color: var(--blue);
}

.site-header__nav-item a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    position: absolute;
    border-radius: 2px;
}

.site-header__nav-item a:hover::after,
.site-header__nav-item a:focus::after {
    width: 100%;
}

.site-header__nav-item a.active {
    color: var(--blue);
}

.site-header__nav-item a.active::after {
    width: 100%;
    background-color: var(--blue);
}

.site-header__contact-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.site-header__contact-item {
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-header__contact-item a {
    display: flex;
    align-items: center;
    transition: color 300ms ease-in-out;
}

.site-header__contact-item a:hover,
.site-header__contact-item a:focus {
    color: var(--blue);
}

.site-header-icon {
    margin-right: 10px;
    fill: currentColor;
}

.main-content {
}

.services-section__title,
.team-section__title,
.clients__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-section__title {
    color: var(--white);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: auto;
    max-width: 696px;
}

.hero-section__button {
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    padding: 10px 24px;
    transition: color 0.5s;
    margin-top: 30px;
}

.hero-section__button:hover, .hero-section__button:focus {
    background-color: var(--light_blue);
}

.advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-section__list {
    gap: 30px;
    display: flex;
}

.advantages-section__item {
    max-width: 270px;
}

.advantages-section__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--white_button);
    border-radius: 4px;
}

.advantages-section__title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages-section__text {
    color: var(--grey);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.services-section {
    text-align: center;
    padding-bottom: 94px;
}

.services-section__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.services-section__item {
    position: relative;
}

.services-section__background{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section__text{
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    word-wrap: break-word;
}

.team-section {
    background: var(--white_button);
    margin: 0;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-section__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-section__member {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-section__member-link {
}

.team-section__member-info {
    padding: 30px;
}

.team-section__member-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;

    word-wrap: break-word;
    margin-bottom: 10px;
}

.team-section__member-role {
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.team-section__member-social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;

    li {
        width: 44px;
        height: 44px;
    }

    a:hover, a:focus {
        background-color: var(--blue);
        color: var(--white);
        outline: none;
    }
}

.team-section__member-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--icon);
    fill: currentColor;
    transition: color 300ms ease-in-out;
}

.clients {
    text-align: center;
    padding: 94px 0;
    margin: 0;
}

.clients__list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;

    a {
        border-radius: 4px;
        border: 1px var(--icon) solid;
        display: inline-block;
        color: var(--icon);
        transition: color 0.5s, border 0.5s;
    }

    a:hover, a:focus {
        color: var(--blue);
        border: 1px var(--blue) solid;
    }
}

.clients__logo {
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    fill: currentColor;
    transition: fill 0.5s;
}

.site-footer {
    background: var(--primary_color);

    .container {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
        align-items: baseline;
    }

}

.site-footer_adress-div {
    margin-right: 70px;
}

.site-footer__logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-bottom: 28px;
}

.site-footer__logo > span {
    color: var(--white);
}

.site-footer__address {
}

.contact-footer {

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    line-height: 1.14;
    letter-spacing: 0.03em;
    font-style: normal;

    .city {
        color: var(--white);
    }

    color: rgba(255, 255, 255, 0.6);

    a {
        transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
        color: var(--blue);
    }
}

.footer__text-join {
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer__social-list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;

    li {
        height: 44px;
        width: 44px;
    }

    .footer__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 100%;

        color: var(--white);
        fill: currentColor;
        transition: color 0.5s, background-color 0.5s;
    }

    .footer__social-link:hover,
    .footer__social-link:focus {
        color: var(--white);
        fill: currentColor;
        background-color: var(--light_blue);
    }
}

.footer__mailing {
    flex-grow: 1;
    margin-left: 94px;
    margin-right: 12px;
}

.footer__text-mailing {
    width: 207px;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer__form {
    width: 570px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__label {
    flex-grow: 1;
}

.footer__input {
    width: 358px;
    height: 50px;
    padding: 16px;
    margin-top: 20px;
    background: rgba(33, 150, 243, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    outline: none;
    transition: border-color 0.3s;
}

.footer__input:hover,
.footer__input:focus {
    border-color: var(--blue);
}

.footer__button {
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    margin-top: 20px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.footer__button:hover,
.footer__button:focus {
    background-color: var(--light_blue);
}

.footer__button-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    }

.portfolio-main {
    padding-bottom: 94px;
    padding-top: 94px;
}

.portfolio-section {
}

.portfolio-section__button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-section__button {
    text-align: center;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border: none;
    border-radius: 4px;
    color: var(--black);
    background: var(--white_button);
}

.portfolio-section__button:hover,
.portfolio-section__button:focus {
    color: var(--white);
    background-color: var(--blue);
}

.portfolio-section__projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-section__project-item {
    border: 1px solid #EEE;
    background: var(--white);
    max-width: 370px;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
}

.portfolio-section__project-container{
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.portfolio-section__project-info {
    padding: 20px 23px;
    position: relative;
    z-index: 2;
}

.portfolio-section__project-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-section__project-text {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.portfolio-section__project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%); 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    opacity: 0.9;
    transition-property: transform;
    background-color: var(--blue);
    z-index: 1;
}
.description{
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
}

.portfolio-section__project-item:hover .portfolio-section__project-description,
.portfolio-section__project-item:focus .portfolio-section__project-description {
    transform: translateY(0);
}

.portfolio-section__project-item:hover,
.portfolio-section__project-item:focus {
    background-color: var(--white);
    border: 1px solid #eeeeee;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--white);
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.20), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal_button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--black);

    cursor: pointer;
    transition: background-color 250ms ease, color 250ms ease;
}

.modal_button:hover {
    color: var(--blue);
}

.modal_icon {
    width: 18px;
    height: 18px;
    fill: currentColor;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__title {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 40px;
}

.modal__input-list {
    padding: 30px 40px 10px 40px;
    width: 100%;
}

.modal__input-item {
    margin-bottom: 10px;
    position: relative;
}

.modal__label {
    display: block;
    margin-bottom: 4px;
    color: var(--grey);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.modal__input-wrapper, 
.modal__textarea-wrapper {
    position: relative;
    width: 100%;
}

.modal__input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #21212133;
    padding: 11px 0px 11px 30px;
    transition: outline-color 300ms ease-in-out;

}

.modal__textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #21212133;
    padding: 11px 12px;
    resize: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.modal__input:focus + .modal__icon,
.modal__input:hover + .modal__icon,
.modal__textarea:focus + .modal__icon,
.modal__textarea:hover + .modal__icon {
    fill: var(--blue);
}

.modal__input:hover,
.modal__input:focus,
.modal__textarea:hover,
.modal__textarea:focus {
    outline: 1px solid var(--blue);
}

.modal__icon {
    position: absolute;
    color: var(--black);
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.modal__checkbox-wrapper {
    display: flex;
    align-items: center;
}

.modal__checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--grey);
}

.modal__checkbox {
    appearance: none;
    border: 1px solid var(--black);
    height: 16px;
    width: 16px;
    border-radius: 2px;
    margin-right: 8px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    position: relative;
}

.modal__checkbox:checked {
    
    background-color: var(--blue);
    border: none;

}

.modal__checkbox:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    right: 3px;
    width: 3px;
    padding: 4px 2px 3px 3px;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    transform: rotate(30deg);
}


.modal__link {
    text-decoration: underline;
    color: var(--blue);
    margin-left: 4px;
}

.modal__footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.modal__submit-btn {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 52px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    transition: background-color 300ms ease-in-out;
}

.modal__submit-btn:hover,
.modal__submit-btn:focus {
    background: var(--light_blue);
}
