:root {
    --black: #212121;
    --white: #ffffff;
    --primary_color: #2f303a;
    --blue: #2196f3;
    --light_blue: #188ce8;
    --grey: #757575;
    --white_button: #f5f4fa;
    --dominant_font: "Roboto", sans-serif;
}

body {
    font-family: var(--dominant_font);
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

    .container {
        display: flex;
        align-items: center;
    }
}

nav {
    margin-left: 93px;
}

.site-header__logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.site-header__logo > span {
    color: var(--black);
}

.site-header__nav-list {
    display: flex;
    gap: 50px;
}

.site-header__nav-item {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-header__nav-item a {
    transition: color 300ms ease-in-out;
}

.site-header__nav-item a:hover,
.site-header__nav-item a:focus {
    color: var(--blue);
}

.site-header__contact-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.site-header__contact-item {
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-header__contact-item a {
    transition: color 300ms ease-in-out;
}

.site-header__contact-item a:hover,
.site-header__contact-item a:focus {
    color: var(--blue);
}

.main-content {
}

.services-section__title,
.team-section__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.hero-section {
    background: var(--primary_color);
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-section__title {
    color: var(--white);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: auto;
    max-width: 696px;
}

.hero-section__button {
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    padding: 10px 24px;
    transition: color 0.5s;
    margin-top: 30px;
}

.hero-section__button:hover, .hero-section__button:focus {
    background-color: var(--light_blue);
}

.advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-section__list {
    gap: 30px;
    display: flex;
}

.advantages-section__item {
    max-width: 270px;
}

.advantages-section__title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages-section__text {
    color: var(--grey);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.services-section {
    text-align: center;
    padding-bottom: 94px;
}

.services-section__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.services-section__item {
}

.team-section {
    background: var(--white_button);
    margin: 0;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-section__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-section__member {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.team-section__member-link {
}

.team-section__member-info {
    padding: 30px;
}

.team-section__member-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;

    word-wrap: break-word;
    margin-bottom: 10px;
}

.team-section__member-role {
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.site-footer {
    background: var(--primary_color);

    padding-top: 60px;
    padding-bottom: 60px;

}

.site-footer__logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-bottom: 28px;
}

.site-footer__logo > span {
    color: var(--white);
}

.site-footer__address {
}

.contact-footer {

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    line-height: 1.14;
    letter-spacing: 0.03em;
    font-style: normal;

    .city {
        color: var(--white);
    }

    color: rgba(255, 255, 255, 0.6);

    a {
        transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
        color: var(--blue);
    }
}

.portfolio-main {
    padding-bottom: 94px;
    padding-top: 94px;
}

.portfolio-section {
}

.portfolio-section__button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-section__button-item {
    color: var(--black);
    background: var(--white_button);
}

.portfolio-section__button {
    text-align: center;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border: none;
}

.portfolio-section__button:hover,
.portfolio-section__button:focus {
    color: var(--white);
    background-color: var(--blue);
}

.portfolio-section__projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-section__project-item {
    border: 1px solid #EEE;
    background: var(--white);
    max-width: 370px;
}

img {
    width: 100%;
}

.portfolio-section__project-info {
    padding: 20px 23px;
}

.portfolio-section__project-title {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio-section__project-text {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

